{
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ]
}
